<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a1133458.climarini">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_weather"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_weather_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.TopCityScreen"
            android:parentActivityName="com.a1133458.climarini.Activities.AppScreen" ></activity>
        <activity
            android:name=".Activities.AppScreen"
            android:label="@string/title_activity_app_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.LaunchScreen"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>